composer.phar
/vendor/

# Commit your application's lock file http://getcomposer.org/doc/01-basic-usage.md#composer-lock-the-lock-file
# You may choose to ignore a library lock file http://getcomposer.org/doc/02-libraries.md#lock-file
# composer.lock
/LICENSE
/.gitignore
/requetes.sql
/foot_maj.sql
/.idea
.DS_Store
assets/musics/
assets/images/portraits/
assets/images/flag/
assets/images/logo_euro/
assets/images/logo_coupe_du_monde/